<div id="contentToConvert" class="canvas disable-text-selection">
    <div *ngFor="let line of canva; let l = index" class="pixel">
        <div *ngFor="let pixel of line; let p = index" class="pixel">
            <div *ngIf="pixel.isPainted == undefiened" class="pixel number">{{pixel.value}}</div>
            <div *ngIf="pixel.isPainted == false" class="pixel white" (click)="onClick(l, p)" (mouseover)="onOver(l, p)"
                (mousedown)="onMouseDown(l, p)"></div>

            <div *ngIf="pixel.isPainted == true" class="pixel black" (click)="onClick(l, p)" (mouseover)="onOver(l, p)"
                (mousedown)="onMouseDown(l, p)"> </div>
        </div>
    </div>
</div>