<div id="contentToConvert" class="canvas disable-text-selection" style="background-color: coral; margin: 10px;">
    <div *ngFor="let line of pic" class="pixel">
        <div *ngFor="let pixel of line" class="pixel">
            <div *ngIf="!pic[line][pixel]" class="pixel white" (click)="onClick(line, pixel)" (mouseover)="onOver(line, pixel)"
                (mousedown)="onMouseDown(line, pixel)" (mouseup)="onMouseUp()"></div>
            <div *ngIf="pic[line][pixel]" class="pixel black" (click)="onClick(n)" (mouseover)="onOver(n)"
                (mousedown)="onMouseDown(n)" (mouseup)="onMouseUp()"> </div>
        </div>


        <!-- <div *ngFor="let n of pixels" class="pixel">
        <div *ngIf="!n.value" class="pixel white" (click)="onClick(n)" (mouseover)="onOver(n)"
            (mousedown)="onMouseDown(n)" (mouseup)="onMouseUp()"></div>
        <div *ngIf="n.value" class="pixel black" (click)="onClick(n)" (mouseover)="onOver(n)"
            (mousedown)="onMouseDown(n)" (mouseup)="onMouseUp()"> </div>
    </div> -->
    </div>