<div id="contentToConvert" class="canvas disable-text-selection" style="background-color: coral; margin: 10px;">
    <div *ngFor="let line of pic; let l = index" class="pixel">
        <div *ngFor="let pixel of line; let p = index" class="pixel">
            <div *ngIf="pixel === false" class="pixel white" (click)="onClick(l, p)" (mouseover)="onOver(l, p)"
                (mousedown)="onMouseDown(l, p)"></div>
            <div *ngIf="pixel" class="pixel black" (click)="onClick(l, p)" (mouseover)="onOver(l, p)"
                (mousedown)="onMouseDown(l, p)"> </div>
        </div>
    </div>